<h2> Sign Up</h2>

<form action="" id="signupForm">
	<label for="name">Firs Name:</label>
	<input type="text" name="first_name" id="name" class="prettyInput" />

	<label for="last">Last Name:</label>
	<input type="text" name="last_name" id="last" class="prettyInput" />

	<label for="email">Email:</label>
	<input type="text" name="email" id="email" class="prettyInput" />

	<label for="password">Password:</label>
	<input type="password" name="password" id="password" class="prettyInput" />

	<button type="submit">Register</button>
</form>

<p>Si ya estas registrado ingresa desde <a href="/login">aqui</a><p></p>

<script src="/js/signup.js"></script>